{% extends 'edc_model_admin/admin/change_form.html' %}
{% load static %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" charset="utf8" src="{% static 'potlako_subject/js/patient_summary.js' %}"></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'potlako_subject/css/patient_summary.css' %}">
{% endblock %}

{% block field_sets %}

<div class="summary">
<div class="tab">
{% if cliniciancallenrollment %}
  <button class="tablinks"  onmouseover="openCity(event, 'cliniciancallenrollment')" disabled>Demographics</button>
{% endif %}

{% if cancerdiagnosisandtreatmentassessment %}
  <button class="tablinks"  onmouseover="openCity(event, 'cancerdiagnosisandtreatmentassessment')" disabled>Cancer Evaluation</button>
 {% endif %}
 
{% if baselineclinicalsummary %}
  <button class="tablinks"  onmouseover="openCity(event, 'baselineclinicalsummary')" disabled>Baseline Clinical Summary</button>
 {% endif %}

{% if navigationsummaryandplan %}
  <button class="tablinks"  onmouseover="openCity(event, 'navigationsummaryandplan')" disabled>Diagnostic Plan</button>
 {% endif %}
</div>


<div id="cliniciancallenrollment" class="tabcontent">
  <pre>
  Age: {{ cliniciancallenrollment.age_in_years }} <\br>
  Gender: {{ cliniciancallenrollment.get_gender_display }} <\br>
  HIV Result: {{ cliniciancallenrollment.last_hiv_result }} <\br>
  Suspected Cancer: {{ cliniciancallenrollment.get_suspected_cancer_display }} <\br>
  Suspicion Level: {{ cliniciancallenrollment.get_suspicion_level_display }} </pre>
</div>

  <div id="cancerdiagnosisandtreatmentassessment" class="tabcontent">
		<pre>
		Symptoms Summary: {{ cancerdiagnosisandtreatmentassessment.symptoms_summary }}
		Cancer Evaluation: {{ cancerdiagnosisandtreatmentassessment.get_cancer_evaluation_display }}
		Diagnoses Date: {{ cancerdiagnosisandtreatmentassessment.diagnoses_date }};
		{% if cancerdiagnosisandtreatmentassessment.diagnosis_date_estimation %}
  			Diagnoses Date Estimation: {{ cancerdiagnosisandtreatmentassessment.diagnoses_date_estimated }}
  		{% endif %}	
		Cancer Treatment: {{ cancerdiagnosisandtreatmentassessment.cancer_treatment }}
		Treatment Description: {{ cancerdiagnosisandtreatmentassessment.treatment_description }}</pre>
  </div>

  <div id="baselineclinicalsummary" class="tabcontent">
       <pre>
       Symptoms Summary: {{ baselineclinicalsummary.symptoms_summary }}
       Cancer Concern: {{ baselineclinicalsummary.get_cancer_concern_display }}
       Cancer Probability: {{ baselineclinicalsummary.get_cancer_probability_display }}</pre>
  </div>
  
  <div id="navigationsummaryandplan" class="tabcontent">
		<pre> Diagnostic plan: {{ navigationsummaryandplan.diagnostic_plan }} </pre>
  </div>
</div>
<div class='clearfix'></div>
  {{ block.super }}


{% endblock field_sets %}


{% block submit_buttons_bottom %}
    {{ block.super }}
{% endblock %}
